<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">

<title>{% block title %}GDA Connexion{% endblock %}</title>
{% block stylesheets %}{% endblock %}
</head>
{%block body%}
{% block javascript_include %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

{% endblock  %}
<body>
   <form id="formlogin" method="post">
       <div class="container mt-4">

            {%if error%}
                <div class="alert alert-danger">
                    {{ error.messageKey | trans(error.messagedata, 'security') }}
                </div>
            {% endif %}
            {% if message|length>1 %}
           <div class="alert alert-danger">
               {{ message}}
           </div>
            {% endif %}

            <div class="form-group">
                <label for="username">Adresse mail</label>
                <input type="text" id="mail_pers" name="_username" class="form-control" value="{{ last_username }}">
            </div>

           <div class="form-group">
               <label for="password">Mot de Passe</label>
               <input type="password" id="mdp" name="_password" class="form-control">
           </div>

           <input type="hidden" name="_csrf_token" value="({csrf_token('authenticate')})">
           <input type="hidden" name="id" id="idId" value="">
           <div id="choix"></div>

        <button type="submit" class="btn btn-primary" id="fom_click">Se connecter</button>

       </div>
   </form>
</body>
{% endblock %}

{% block javascripts %}
    <script>
        function login (id, action) {
            $("#idId").val(id);
            $("#formlogin").attr('action', action).submit();
        }

        $(document).ready(function() {
            var user = $("#mail_pers").val();
            var mdp = $("#mdp").val();
            alert(user);
            $.post(" {{ path('security_login') }}",
                {email : user, password: mdp} ,
                function(data, statut){

                    if (statut === 'success'){
                        alert('OK');
                        if (data.lenght>1){

                            let r = '<div>';
                            let c, badge, nom;
                            for (c in data){
                                r += '<span onclick="login(\'' + data[c][0] + '\', \'' + data[c][1] + '\')" >'
                                    + data[c].[2] + '</span>';
                            }
                            r += '</div>';
                            $("#choix").html(r);
                        } else{
                            login (data[0][0], data[0][1]);
                        }
                    }
                });
            });
    </script>
{% endblock %}
</html>


