{% extends 'accueil/association/homeassociation.html.twig' %}
{% block body %}

    </br>
    <h2> La suppression de cet intervenant a bien été pris en compte. </h2>
    <a href="/listeIntervenant"> Retour sur la liste des associations </a>

{% endblock %}