{% extends 'onglets.html.twig' %}
{% block body %}
<h1>{{title}}</h1>

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Partenaires</div>
  <div class="card-body">
    <h4 class="card-title">Basicompta</h4>
    <p class="card-text">Utilisez basicompta pour votre associaton, avec basicompta plus besoin d'etre expert comptable!
  </div>
</div>
 <div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Autres partenaires</div>
  <div class="card-body">
    <h4 class="card-title">Autre nom de partenaire</h4>
    <p class="card-text">Posibilite d'ajouter du javascript et des animations pour etre toxique</p>
  </div>
</div>

{% endblock %}
