{% extends 'accueil/structure/homestructure.html.twig' %}
{% block body %}

    </br>
    <h2> L'Ajout de cet administrateur a bien été pris en compte. </h2>
    <a href="/ListeAsso"> Retour sur la liste des Associations </a>

{% endblock %}