<!DOCTYPE html>
<html xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">

    <title>{% block title %}Gestion des adhérents{% endblock %}</title>

    {% block JavaScript %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/homeadherent">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" href="/profilpersonne">Profil</a></li>
            <li class="nav-item"><a class="nav-link" href="/assoadherent">Associations</a></li>
            <li class="nav-item"><a class="nav-link" href="/groupeadherent">Groupes</a></li>
        </ul>

        <ul class="navbar-nav mr-right">
            {% if not app.user.personne.adminAssos.isEmpty() or  app.user.personne.intervenant or app.user.personne.superAdmin or  not app.user.personne.adminStructures.isEmpty()  %}
                {#<li class="nav-item"><a class="nav-link" href="/changeConnexion">Changer de rôle</a></li>#}
            {% endif %}
            <li class="nav-item" float:right><a class="nav-link" href="{{ path('security_logout') }}">Se déconnecter</a></li>
        </ul>
    </div>
</nav>
<div class='container'>
    {% block body %}
        <br>
        <h1>Bienvenue sur la page d'accueil d'un adhérent</h1>
        <br>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Accueil</div>
            <div class="card-body">
                <h4 class="card-title">Adhérent</h4>
                <p class="card-text">Voici la page d'accueil d'un adhérent
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Informations</div>
            <div class="card-body">
                <h4 class="card-title">Informations concernant les adhérents</h4>
                <p class="card-text">Vous trouverez ici toutes les informations pouvant vous interesser</p>
            </div>
        </div>
    {% endblock %}
</div>
</body>
</html>
